.city-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--white);
  text-decoration: none;
  flex-basis: 1 1 320px;
/* box-shadow: 0 8px 16px 0 rgba(15,41,77,.08), 0 3px 20px 0 rgba(3, 51, 118, 0.39); */
border-radius: 1.2rem;
  @media (max-width: 768px) {
    flex-basis: 100%;
  }
}


.city-card .featured-img {
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 1.2rem;

}

.city-card .featured-img img {
  width: 100%;
  min-height: 300px;
  height: auto;
  object-fit: cover;
  aspect-ratio: 3/2;
border-radius: 1.2rem;
transition: .3s all ease-in-out;

}

.city-card .featured-img img:hover{
  transform: scale(1.25);
  transition: .3s all ease-in-out;


}


.city-card-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;


  @media (max-width: 768px) {
    font-size: 0.8em;
    
  }
}

.city-card-footer .city-name{
  font-size: 1.8rem;
  color: var(--white);
}

.city-card-footer a{
  text-decoration: none;
  font-size: 1.4rem;
}



