.layout-setting{
    width: 80%;
}


@media only screen and (max-width: 1400px) {
    .layout-setting{
        width: 90%;
    }
    


}

@media screen and (max-width: 768px) {
    .layout-setting{
        width: 90%;
    }
    
  }