.realted-products{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--light-gray);
    padding: 24px;
    border-radius: 2rem;
    margin: 40px 0;

}

@media screen and (max-width: 768px) {
    .realted-products{
      margin: 20px 0;
    }
    
      
    }