.review{
    display: flex;
    gap: 20px;
    padding: 24px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
}

.review .name-logo{
    background-color: var(--primary);
    color: var(--white);
    font-size: 2.2rem;
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review .review-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review .review-content .reviewer-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.review .review-content .reviewer-name{
    font-size: 1.6rem;
    font-weight: 600;
}

.review .review-content .reviewer-ratings{
    font-size: 1.6rem;
    display: flex;
    gap: 6px;
    align-items: flex-start;
}

.review .review-content .reviewer-ratings span{
    display: flex;
    gap: 2px;
    padding-top: 2px;
}

.review .review-content .reviewer-ratings svg{
    color: var(--star-orange);
}


.review .review-text{
    color: var(--text-para);
}

.sen{
    text-transform: uppercase;
    padding: 8px;
    font-size: 1.2rem;
    border-radius: 4px;
    margin: 0 10px;
}


.sen-red{
    background-color: rgba(255, 0, 0, 0.4);
    color: red;
}

.sen-green{
    background-color: rgba(0, 255, 162, 0.4);
    color: green;
}

.sen-gray{
    background-color: rgba(255, 165, 0, 0.2);
    color: orange;
}

@media screen and (max-width:768px ) {
    .review .name-logo{
        min-width: 40px;
        min-height: 40px;
        width: 40px;
        height: 40px;
        max-width: 40px;
        max-height: 40px;
        font-size: 1.8rem;
    }

    .review{
        padding: 14px;
    }
}

@media screen and (max-width: 425px) {
    .write-review{
        flex-direction: column;
    }
    
}